* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    height: 100vh;
}

.col-2 {
    flex-basis: 50%;
    height: 100vh;
    overflow: hidden;
}

.right {
    background: #18181B;
    background-image: url(images/Blend\ Group\ 1.svg);
    background-position: center;
    background-size: cover;
    padding-left: 2rem;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.img-back {
    position: relative;
    width: 100%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    padding-right: 0;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: -1.5rem;
    border-radius: 15px;
    border: 0.5px solid white;
    box-shadow: 0px 6px 40px -40px rgba(199, 199, 199, 0.32), 0px -6px 40px rgba(255, 255, 255, 0.32);
}

.img-back .img {
    width: 100%;
    height: 100%;

}

/* .image {
    width: 100%;
    height: 60%;
    background-image: url(images/ticket-trends.png);
    background-size: cover;
    margin-top: 3rem;
    box-shadow: 0px 6px 40px -40px rgba(199, 199, 199, 0.32), 0px -6px 40px rgba(255, 255, 255, 0.32);
} */
.left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
}

.left form {
    margin: 2rem 10rem;
}

.field {
    position: relative;
}

form input {
    margin: 1rem 0;
    padding: 10px 0px;
    border: 0.5px solid grey;
    border-radius: 5px;
    width: 100%;
}

::placeholder {
    padding-left: 30px;
}

.field .fa-eye {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0px;
    top: 27px;
}

.field button {
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.right h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.right p {
    color: white;
    opacity: 70%;
}

/* analytics area start */

.sidebar {
    width: calc(100% - 260px);
    max-width: 270px;
    background-color: #18181B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar .logo {
    margin-top: 40px;
}

nav {
    margin-top: 20px;
}

nav ul {

    font-size: 14px;
    margin-bottom: 25%;

}

nav ul li {
    padding: 5px 0px;
    /* margin: 0 10px; */
    margin-top: 2rem;
    width: 220px;

}
nav ul li .active{
    background-color: #3F3F46;
    color: #ffffff;
}
nav ul li .active svg{
    fill: #ffffff;
}

nav ul li a {
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    padding: 5px 10px;
    color: #A1A1AA;
    display: block;
    transition: all 0.5s;

}
nav ul li a:hover{
    background-color: #3F3F46;
    transition: all 0.5s;
    border-radius: 5px;
    color: #ffffff;
}


.fa-solid {
    margin-right: 2rem;
}

 nav ul li svg{ 
    transition: all 0.5s;
   
  }
 nav ul li a:hover svg{ 
    fill: #ffffff;/* this works */
   
  }

/* nav ul:hover {
    .child-class {
       …desired styles go here
     }
} */
.logout {
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.progress{
    position: relative;
    background-color: #27272A;
    margin: 20px 0;
    padding: 20px;
    color: #ffffff;
    min-height: 170px;
    border-radius: 10px;
    justify-content: flex-end;
    flex-direction: column;
}
.progress-img{
    position: absolute;
    top: -20%;
}
.progress-img-2{
    width: 100%;
}
.logout a {
    color: #E4E4E7;
}

/* analytics  right area  */


/* .right-area {} */
.right-container {
    /* width: calc(100% - 48px); */
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #E4E4E7;
    margin-bottom: 20px;
}

.create-ticket button {
    padding: 12px 20px;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}

.create-ticket .fa-circle-plus {
    margin-right: 10px;
}

.create-ticket button:hover {
    background: rgb(68, 68, 68);
    color: white;
}

.max-w-con {
    max-width: 1120px;
    margin: 0 auto;
}

.col-4 {
    border: 0.7px solid #E4E4E7;
    padding: 15px;
    flex-basis: 25%;
    border-radius: 6px;
}

.total .fa-solid {
    padding: 15px;
    background: #18181B;
    color: #E4E4E7;
    border-radius: 5px;
}

.ticket-stats {
    width: 15%;
    margin: 20px 0;
    font-size: 21px;
}

.col-3 {
    flex-basis: 33%;
    border: 0.7px solid #E4E4E7;
    padding: 15px;
    border-radius: 6px;
    max-height: 263px;
}

.stats {
    margin: 20px 0;
}

.stats h4 {
    border-radius: 5px;
    background-color: #18181B;
    color: #ffffff;
    width: 12%;
    padding: 5px 0;
    text-align: center;
}

.over {}

.over h2 {
    margin-bottom: 20px;
}

.over p {
    margin-bottom: 20px;
}

.mail-heading {
    margin-bottom: 20px;
}

.mail {
    width: 100%;
    margin: 20px 0;
    color: #A1A1AA;
}

.mail .fa-solid {
    margin: 0;
}

.mail button {
    width: 100%;
    padding: 10px 0;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}

.overview-tag {
    padding: 20px 0;
    font-weight: bold;
    line-height: 2;
}

.tag-border {
    border-bottom: 1px solid #E4E4E7;
}


/* its time for modal styling */


/* The Modal (background) */
.modal-back-blur {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);

    /* Black w/ opacity */
}
#mymodal{
    display: none;
}

/* Modal Content */
.modal-content {
    display: none;
    background-color: #fefefe;
    padding: 20px;
    z-index: 99;
    width: 100%;
    border: 1px solid #888;
    max-width: 760px;
    line-height: 1.6;
    margin: 1% auto;
    inset: 0;
    border-radius: 10px;
}
.customer-title{
    margin: 20px 0;
    font-size: 19px;
    font-weight: bold;

}
.customer-title p{
font-size: 14px;
color: #3F3F46;
font-weight: 100;
}
form{
    border: 1px solid #E4E4E7;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}
form input{
    margin: 10px 0;
    border: 1px solid #d2d2d4;
}
.border{
    border:1px solid #E4E4E7;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 20px;
}
form label ,label{
    font-size: 14px;
    font-weight: bold;
}
.btn-next {
    padding: 10px 30px;
    background: black;
    color: white;
    border: none;
    font-weight: 200;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}



/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* ticket page area  */

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e6;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 12px;
    transition: border 0.2s;
    border-bottom: 4px solid transparent;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-bottom: 4px solid #000;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 4px solid #000;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

  .search {
    position: relative;
    flex-basis: 25%;
  }
  .search input{
    width: 100%;
    padding: 5px 0;
    border-radius: 4px;
    border: 0.5px solid #aaaaaa ;
  }
  .search .fa-solid{
    position: absolute;
    right: -20px;
    top: 5px;
    color: #888;
  }
  table{
    border: 1px solid #E4E4E7;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  table td{
    padding: 20px 0;
    color: #888;
    font-size: 12px;
  }
  table th{
    text-align: left;
    padding: 20px 0;
    font-size: 14px;
  }
  td span{
    background-color: rgb(231, 103, 103);
    border-radius: 20px;
    color: #ffffff;
    padding: 2px 10px;
    font-size: 10px;
  }
  td .blue{
    background-color: rgb(83, 34, 138);
    border-radius: 20px;
    color: #ffffff;
    padding: 2px 10px;
    font-size: 10px;
  }
  td .orange{
    background-color: rgb(209, 130, 11);
    border-radius: 20px;
    color: #ffffff;
    padding: 2px 10px;
    font-size: 10px;
  }
  table .fa-regular{
    margin-right: 10px;
  }
  .pagination{
    justify-content: flex-end;
    gap: 4%;
    align-items: center;
    padding: 20px 0;
    font-size: 12px;
  }
  .pagination p{
    padding: 4px 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  .pagination p:hover{
    background: black;
    color: white;
    transition: all 0.5s;
  }
  .pagination .active{
    background: black;
    color: white;
    transition: all 0.5s;
  }
  .hardware-btn{
    padding: 12px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .del-btn{
    padding: 10px 20px;
    background: transparent;
    color: #E11D48;
    border-radius: 5px;
    font-size: 14px;
    border: 0.3px solid #E11D48;
    cursor: pointer;
    transition: all 0.5s;
  }
  .del-btn:hover{
    padding: 10px 20px;
    background: #E11D48;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    border: 0.3px solid #E11D48;
    cursor: pointer;
    transition: all 0.5s;
  }
  .cancel-btn{
    padding: 10px 20px;
    background: transparent;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .tech{
    color: purple;
  }
  .admin{
    color: rgb(39, 125, 255);
  }
 .tags{
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-top: 20px;
 }
 .tag-item{
    flex-wrap: wrap;
 }
 .tag-item p{
    padding: 10px 20px;
    border: 1px solid #d8d6d6;
    margin: 10px;
    border-radius: 7px;
 }
 .tag-item p.active{
    color: white;
    background-color: #000;
 }
 svg{
    margin-right: 20px;
 }
 svg path {
    margin-right: 20px;
    transition: all 0.5s;
}

svg:hover path {
    fill: #ebebeb
}
.modal-blur {
    position: absolute;
    width: 100%;
    display: none;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);

}
#delModal{
    display: none;
   
}

/* Modal Content */
.del-modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 20px;
    z-index: 99;
    border: 1px solid #888;
    /* max-width: 400px; */
    line-height: 1.6;
    margin: auto;
    inset: 0;
    width: 450px;
    height: 250px;
    border-radius: 10px;
}
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 14px;
    color: #888;
}
.content img{
    width: 40px;
    height: 40px;
}
.btnss{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cancel-btn-2{
    padding: 10px 20px;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
}


.del-btn-2{
    padding: 10px 20px;
    background: #E11D48;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    border: 0.3px solid #E11D48;
    cursor: pointer;
    transition: all 0.5s;
  }
  .del-btn-2:hover{
    background: transparent;
    color: #E11D48;
  }
  .cancel-btn{
    padding: 10px 20px;
    background: transparent;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .member .fa-trash-can:hover{
    color: #E11D48;
  }
  .add-member-blur{
    position: absolute; /* Stay in place */
    z-index: 1;
    display: none;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);

    /* Black w/ opacity */
}
#memberModal{
    display: none;
}
  .add-member-content{
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    width: 400px;
    z-index: 99;
    height: 100vh;
    padding: 20px;
    
  }
  /* .add-member-content h2{
    padding: 20px;
  } */
  .add-mem-form{
    border: none;

  }
  .add-mem-form select{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #c8c8ca;
  }
  .add-mem-form button{
    width: 100%;
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .add-mem-form button:hover{
    background-color: #000;
    color: #ffffff;
  }
  .tag-blur{
    position: absolute; /* Stay in place */
    z-index: 1;
    display: none;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);

    /* Black w/ opacity */
}
#tagModal{
    display: none;
}
  .tag-content{
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    width: 400px;
    z-index: 99;
    height: 100vh;
    padding: 20px;
    
  }
  /* .add-member-content h2{
    padding: 20px;
  } */
  .add-tag-form{
    border: none;

  }

  .add-tag-form button{
    width: 100%;
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .add-tag-form button:hover{
    background-color: #000;
    color: #ffffff;
  }